/* ----------fonts---------- */

@font-face {
    font-family: "Merriweather";
    src: url(../Fonts/Merriweather/Merriweather-Light.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(../Fonts/Lato/Lato-Light.ttf);
}
/* ----------header---------- */

header nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 1%; 
    list-style: none;

}

header nav ul li a{
    color: #202020fd;
    text-align: right;
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase; 
    text-decoration: none;
}

/* ----------main---------- */
/* ----------Glühbirnen abschnitte---------- */
main .einzelbilder .first{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    gap: 27%;
}

main .einzelbilder .first .text h2{
    color: #000;
font-family: "Merriweather";
font-size: 3rem;
font-weight: 700;
}

main .einzelbilder .first .text p{
    color: #202020;
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 200%; 
}

main .einzelbilder .first .text .download {
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 200%; 
    background-color: black;
    width: 30%;
    height: 12%;
    border-radius: 10px;
}

main .einzelbilder .first .text .download a{
    color: #FFF;
    text-decoration: none;
}

main .einzelbilder .first .text .Subscribe {
    color: black;
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 200%;
    border: 1px solid rgba(0, 0, 0, 0.437);
    width: 30%;
    height: 12%;
    border-radius: 10px;
}

main .einzelbilder .first .text .Subscribe a{
    color: black;
    text-decoration: none;
}

main .einzelbilder .first .bild img{
    height: 100%;
    width: 100%;
}
/* ----------gesichts bild abschnitt---------- */

main .einzelbilder .second {
    display: flex;
    justify-content: space-around;
    gap:15%;
    padding: 0 15%;


}

main .einzelbilder .second .text {
    order: 2;

}

main .einzelbilder .second .bild {
    order: 1;
}

main .einzelbilder .second .text h2{
    color: #000;
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: 700;
    }

main .einzelbilder .second .text p{
    color: #202020;
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 200%; /* 200% */
    }

main .einzelbilder .second .bild img{
    height: 100%;
    width: 100%;
}

/* ----------fisch abschnitt---------- */

main .einzelbilder .third {
    display: flex;
    justify-content: space-around;
    gap:15%;
    padding: 0 15%;

}



main .einzelbilder .third .text h2{
    color: #000;
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: 700;
}

main .einzelbilder .third .text p{
    color: #202020;
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 200%; /* 200% */
}

main .einzelbilder .third .bild img{
    height: 100%;
    width: 100%;
}

/* ----------abschnitt mit den drei bildern---------- */

main .illustrations{
    padding: 5% 20% ;
}

main .illustrations h2{
    color: #000;
    text-align: center;
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: 700;
    }

main .illustrations p{
        color: #202020;
    text-align: center;
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 200%; 
    }

main .illustrations div{
    display: flex;
    justify-content: space-around;
}

main .illustrations div img{
    height: 50%;
    width: 50%;
}

main .illustrations div img:hover{
    border: 2px solid #0000005b;
    border-radius: 10px;
}

/* ----------abschnitt galerie---------- */

main .examples h2{
    color: #000;
    text-align: center;
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: 700;
    padding: 5% 20% 0 ;
    margin-bottom: -5%;
}

main .examples p{
    color: #202020;
    text-align: center;
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 200%; 
    padding: 0% 20% 2% ;
}

main .examples div{
    display: flex;
    flex-wrap: wrap;
    gap: 10vh;                       
    justify-content: center;
}

main .examples div img{
    width: 40%;
    height: 40%;
}

main .examples div img:hover{
    border: 2px solid #0000005b;
    border-radius: 10px;
}

/* ----------download illustrations text---------- */

main .download_info h2{
    color: #000;
    text-align: center;
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: 700;
    padding-top: 10%;
}

main .download_info p{
    color: #202020;
    text-align: center;
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 200%;
    padding: 0 30% 5%;
}

/* ----------abofalle---------- */

main .membership{
    background-color: rgba(85, 172, 238, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 80vh;
    margin: auto;
    padding-bottom: 10%;
}

main .membership h3{
    color: #000;
    text-align: center;
    font-family: "Merriweather";
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 35%;
}

main .membership p:first-of-type{
    color: #000;
    text-align: center;
    font-family: "Merriweather";
    font-size: 5rem;
    font-weight: 700;
}

main .membership p:last-of-type{
    color: #7E7E7E;
    text-align: center;
    font-family: "Merriweather";
    font-size: 1rem;
    font-weight: 700;
}

main .membership ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style: none;
    color: #000;
    text-align: center;
    font-family: "Merriweather";
    font-size: 1rem;
    font-weight: 400;
    margin-right: 12.5%;
    }

main .membership button{
    border-radius: 10px;
    background-color: #55ACEE;
    color: #FFF;
    text-align: center;
    font-family:"Merriweather";
    font-size: 1rem;
    font-weight: 400;
    padding: 5% 15%;
    margin: auto;
    border: none;
}

/* ----------footer---------- */
/* ----------suggestions---------- */
footer h2{
    color: #000;
    text-align: center;
    font-family: "Merriweather";
    font-size: 3rem;
    font-weight: 700;
    padding-top: 5%;
    }

footer ul:first-of-type{
    color: #7E7E7E;
    text-align: center;
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 200%;
    list-style: none;
}

footer ul:first-of-type li:nth-of-type(2){
    color: black;
}

/* ----------social media---------- */

footer ul:last-of-type{
    display: flex;
    text-align: center;
    font-family: "Merriweather";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 200%; 
    list-style: none;
    justify-content: center;
}

footer ul:last-of-type li:nth-of-type(1) a{
    color: black;
    text-decoration: none;
}

footer ul:last-of-type li:nth-of-type(2) a{
    color: yellow;
    text-decoration: none;
}

footer ul:last-of-type li:nth-of-type(3) a{
    color: blue;
    text-decoration: none;
    }

footer ul:last-of-type li:nth-of-type(4) a{
    color: red;
    text-decoration: none;
}

